body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3 {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

img {
    width: auto;
    height: 250px;
}

button {
    background-color: #3882F6;
    color: white;
    border: 0px;
    padding: 8px 16px;
    border-radius: 8px;
}

quote {
    color: #1F2937;
    font-size: 36px; 
    font-style: italic;
    font-weight: 100;
}

p {
    padding: 0px;
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
}

.hero-text {
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary, .header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.information-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 32px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rounded-square {
    border-radius: 8px;
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
    margin: 4px;
}

.quote {
    background-color: #E5E7EB;
    margin: 0;
    padding: 50px;
}

.cta-section {
    padding: 50px;
}

.cta-banner {
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.cta-banner > button {
    border-radius: 8px;
    border: 1px solid white;
}

.footer {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}